<div class="topics">
  <%= render 'node_info' %>

  <table class="table">
    <thead class="thead-default">
      <tr class="topic">
        <th class="title"><%= t('homeland.activerecord.attributes.topic.title')%></th>
        <th class="node"><%= t('homeland.activerecord.attributes.topic.node')%></th>
        <th class="author"><%= t('homeland.activerecord.attributes.topic.user')%></th>
        <th class="replies"><%= t('homeland.activerecord.attributes.topic.replies_count')%></th>
        <th class="activity"><%= t('homeland.activerecord.attributes.topic.activity')%></th>
      </tr>
    </thad>
    <tbody>
      <% if @topics.blank? %>
        <tr>
          <th>
            <span class="text-mutted">
              <%= t('homeland.topics.empty') %>
            </span>
          </td>
        </tr>
      <% else %>
        <%= render @topics %>
      <% end %>
    </tbody>
  </table>
</div>
