<div class="row">
  <div class="topic-detail col-lg-9">
    <h1><%= @topic.title %></h1>
    <div class="info">
      <%= node_tag(@topic.node) %>
    </div>

    <div class="reply media">
      <div class="media-left">
        <img class="media-object" src="//ruby-china-files.b0.upaiyun.com/user/large_avatar/2.jpg" alt="Generic placeholder image">
      </div>
      <div class="media-body">
        <div class="media-heading">
          <%= %>

          <span class="date pull-xs-right"><%= timeago @topic.created_at %></span>
        </div>
        <div class="markdown">
          <%= raw @topic.body_html %>
        </div>
      </div>
    </div>

    <div class="replies">
      <%= render @replies %>
    </div>

  </div>


</div>

<%= render 'reply_form' %>
