<%= form_for(@node) do |f| %>
  <%= render_errors @node %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, rows: 4, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :color %>
    <%= f.select :color, Homeland.config.node_colors , {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :sort %>
    <%= f.text_field :sort, class: 'form-control' %>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary btn-lg" data-disable-with="<%= t('homeland.submiting') %>"><%= t('homeland.submit') %></button>
  </div>
<% end %>
