<ol class="breadcrumb">
  <li><a href="<%= homeland.root_path %>"><%= t('homeland.nav.home') %></a></li>
  <li><a href="<%= homeland.nodes_path %>"><%= t('homeland.nav.node') %></a></li>
  <li class="active"><%= t('homeland.nav.new') %></li>
</ol>

<%= render 'form' %>
