<div class="reply media" data-id="<%= reply.id %>">
  <div class="media-left">
    <%= homeland_user_avatar_tag(reply) %>
  </div>
  <div class="media-body">
    <div class="media-heading">
      <%= homeland_user_name_tag(reply) %>

      <span class="date pull-xs-right"><%= homeland_timeago reply.created_at %></span>
    </div>
    <div class="markdown">
      <%= raw reply.body_html %>
    </div>
  </div>
</div>
