<%
is_reply = reply.respond_to?(:reply_to_id)
%>
<div class="reply media" id="reply-<%= reply.id %>" data-id="<%= reply.id %>">
  <div class="media-left">
    <%= user_avatar_tag(reply) %>
  </div>
  <div class="media-body">
    <div class="media-heading">
      <%= user_name_tag(reply) %>

      <span class="date pull-xs-right"><i class="fa fa-clock-o"></i> <%= timeago reply.created_at %></span>
    </div>

    <div class="markdown">
      <%= raw reply.body_html %>
    </div>

    <div class="media-footer clearfix">
      <% if owner?(reply) %>
        <a href="<%= is_reply ? edit_reply_path(reply) : edit_topic_path(reply) %>" class="btn-opt"><i class="fa fa-pencil"></i></a>
        <a href="<%= is_reply ? reply_path(reply) : topic_path(reply) %>" data-method="DELETE" data-confirm="<%= t('homeland.are_you_sure_to_delete') %>" class="btn-opt"><i class="fa fa-trash"></i></a>
      <% end %>

      <% if is_reply && reply.reply_to_id %>
      <a href="#reply-<%= reply.reply_to_id %>" title="<%= t('homeland.topics.reply_to') %>" class="btn-opt"><i class="fa fa-quote-left"></i></a>
      <% end %>

      <span class="pull-xs-right">
        <a href="<%= homeland.topic_path(@topic, anchor: "reply-#{reply.id}") %>" class="btn-opt anchor"><i class="fa fa-link"></i></a>
        <a href="#" class="btn-opt" data-action="reply" data-reply-id="<%= is_reply ? reply.id : ''  %>"><i class="fa fa-reply"></i> <%= t('homeland.reply') %></a>
      </span>
    </div>
  </div>
</div>
