<ol class="breadcrumb">
  <li><a href="<%= homeland.root_path %>"><%= t('homeland.nav.home') %></a></li>
  <li><a href="<%= homeland.topic_path(@reply.topic_id) %>" title="<%= @reply.topic.title %>"><%= truncate @reply.topic.title, length: 20 %></a></li>
  <li class="active"><%= t('homeland.edit') %></li>
</ol>
<%= form_for(@reply) do |f| %>
  <%= render_errors @reply %>

  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control", rows: "10" %>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary btn-lg" data-disable-with="<%= t('homeland.submiting') %>"><%= t('homeland.submit') %></button>
    <a href="<%= homeland.topic_path(@reply.topic_id) %>" class="btn btn-lg btn-default"><%= t('homeland.cancel') %></a>
  </div>
<% end %>
